body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #021526;
  color: #E2E2B6;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 8px #6EACDA;
}

h1 {
  font-size: 2rem;
  color: #6EACDA;
  margin-top: 10px;
}

.form {
  background-color: #03346E;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px #6EACDA;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  color: #E2E2B6;
  margin-bottom: 20px;
  text-align: center;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background: #E2E2B6;
  color: #021526;
  font-size: 1rem;
}

button {
  background-color: #6EACDA;
  color: #021526;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4a93c2;
}

.response-message {
  margin-top: 15px;
  color: #E2E2B6;
  font-style: italic;
  text-align: center;
}


.tabs {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.tabs button {
  background-color: transparent;
  border: none;
  color: #e2e2b6;
  font-size: 1rem;
  margin: 0 10px;
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.tabs button.active {
  border-bottom: 2px solid #6eacda;
}
